################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/notepedia/FileContentIndex/29bf8e02-b210-4a4b-9ea5-3c6350e36220.vsidx
/.vs/notepedia/FileContentIndex/merges
/.vs/notepedia/FileContentIndex/434f7aff-ea2e-4062-b477-3d7fba1207ef.vsidx
