################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/notepedia/FileContentIndex
/.vs/slnx.sqlite
/note_finder/.next
